@import './TopBar.scss';

.advice {
    align-content: center;
    font-size: 90%;
    text-align: justify;
    text-indent: 5%;
    margin-left: 20%;
    width: 60%;
}

.titleForActivetab {
    align-content: center;
    text-align: center;
    font-size: 300%;
    margin-top: -3%;
    font-weight: bolder;
    color:#5474eb;
}

.subTitleForActivetab {
    margin-left: 20%;
    align-content: center;
    font-size: 90%;
    text-align: justify;
    margin-bottom: 0.3%;
}

.listContent {
    font-size: 90%;
    text-align: normal;
    margin-left: 20%;
}

.listContentLast {
    font-size: 90%;
    text-align: normal;
    margin-left: 20%;
}

.divForContent {
    width: 20%;
    float: left;
    margin-left: 16%;
    margin-right: 9%;
    text-align: justify;
}

.divForContentLast {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    align-content: center;
}

h4 {
    text-align: center;
    margin-bottom: 0;
    color:#5474eb;
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.article-header {
    text-align: center;
    margin-bottom: 2%;
    margin-top: -5%;
    color:#5474eb;
}

.article-header h1 {
    font-size: 90%;
    margin: 0;
    color:#5474eb;
}

.author-date {
    color: #777;
    font-size: 60%;
    margin-top: 0rem;
    text-align: center;
}

.article-content {
    margin-bottom: 3%;
}

.article-content p {
    line-height: 1.6;
    margin: 1.5% 0;
    text-align: justify;
}

.article-image {
    width: 100%;
    height: 100%;
}

.related-articles {
    border-top: 1px solid #ccc;
    padding-top: 2%;
}

.related-articles h2 {
    font-size: 90%;
}

.related-articles ul {
    list-style-type: none;
    padding: 0;
}

.related-articles li {
    margin: 1%;
    text-align: center;
}

.related-articles a {
    text-decoration: none;
    color: #007BFF;
}

.related-articles a:hover {
    text-decoration: underline;
}



// Media Queries
@media (max-width: 768px) {
    .advice {
        font-size: 80%;
        margin-left: 10%;
        width: 80%;
    }

    .titleForActivetab {
        font-size: 200%;
    }

    .divForContent {
        width: 100%;
        margin-left: -10%;
        
    }
    .article-header {
        text-align: center;
        margin-bottom: 2%;
        margin-top: 5%;
        color:#5474eb;
    }

    .article-container {
        max-width: 100%;
    }
    .article-image {
        min-width: 400px;
        min-height: 200px;
        margin-left: 5%;
    }
    .author-date {
        color: #777;
        font-size: 50%;
        margin-top: 0rem;
        text-align: center;
    }
    

}

.stats-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-top: 5rem;

    h2 {
        margin-bottom: 10px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            padding: 5px 0;
            text-align: center;
            font-size: 1.2em;
            color: #333;
        }
    }
    ol {
        list-style-type: none;
        padding: 0;

        li {
            padding: 5px 0;
            text-align: center;
            font-size: 1.2em;
            color: #333;
        }
    }
}


@media (max-width: 480px) {
    .article-header{
        font-size: 80%;
        margin-top: 1rem;
    }

    .related-articles h2 {
        font-size: 80%;
    }
    .article-container {
        max-width: 100%;
    }
    .article-image {
        min-width: 400px;
        min-height: 200px;
        margin-left: 5%;
    }

    .article-content p {
        line-height: 1.6;
        margin-left: 10%;
        text-align: justify;
        
    }

    .related-articles {
        border-top: 1px solid #ccc;
        padding-top: 2%;
        margin-left: 12.5%;
    }

    .titleForActivetab {
        align-content: center;
        text-align: center;
        font-size: 200%;
        margin-top: -3%;
        margin-left: 10%;
        font-weight: bolder;
        color:#5474eb;
    }
    .article-header {
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 10%;
        color:#5474eb;
    }
}





