@import './TopBar.scss';

$top-bar-height: 60px;
$background-color: #F0F0F0;

.app-container {
  display: flex;
  flex-direction: column;
  height: 200vh; // Full height of the viewport
  position: relative;
  background-color: $background-color;

  @media (max-width: 1300px) {
    background-color: green; // Background for large screens
  }
  
  @media (max-width: 768px) { // Tablet and below
    background-color: orange; // Background for tablets
  }
  
  @media (max-width: 480px) { // Mobile phones
    background-color: yellow; // Background for mobile
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column; // Keep it column to stack sections
  flex: 1; // Takes the remaining height
  justify-content: center; // Center vertically
  align-items: center; // Center horizontally
  position: relative; // Allows absolute positioning of child elements
  height: calc(100% - #{$top-bar-height}); // Ensure it takes full height minus top bar
  //background-color: orange;
}

.gallon-image {
  position: absolute; // Absolutely position images for layering
  max-width: 40vw; // Use a smaller max-width to maintain visibility
  height: auto; // Maintain aspect ratio
  max-height: 40vw; // Maintain a maximum height to avoid small sizes
  min-width: 250px; // Minimum width to prevent too small sizes
  min-height: 250px; // Minimum height to prevent too small sizes
  //background-color: yellow;
}

.filled {
  z-index: 3; // Bring filled image to the front
  display: inline-block;
  clip-path: inset(calc(100% - (27.7% + (27.7% * (1.61 * var(--water-usage)))) ) 0% 27.1% 0%);
  //clip-path: inset(calc(100% - (27.7% + (27.7% * (1.61 * .50)))) 0% 27.1% 0%);
  //background-color: red;
}

.empty {
  z-index: 2; // Layer empty image behind filled
}

.main {
  z-index: 1; // Layer main image behind empty
}

.gallon-section {
  position: relative; // Allow for layering of images
  display: flex; // Use flex for proper centering
  justify-content: center; // Center images horizontally
  align-items: center; // Center images vertically
  height: 60vh; // Set a maximum height for the section
  top: 20vh;

  .water-consumption-text {
    position: absolute; // Position text over images
    top: 50%; // Center vertically
    left: 50%; // Center horizontally
    transform: translate(-40%, -80%); // Offset to truly center
    display: flex; // Use flexbox for alignment
    align-items: center; // Align items vertically
    justify-content: center; // Align items horizontally
    z-index: 500;
    color: #5474eb;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s ease; // Smooth transition for text scaling

    //gill sans
    
    .big-number {
      font-size: 5vw; // Adjust size as needed
      font-weight: bold; // Make it bold
      margin-right: 5px; // Space between number and unit
      text-align: center;
    }
  
    .unit {
      transform: translate(-20%, 65%);
      font-size: 1.5vw; // Adjust size for unit
    }
  }
  .gallon-image {
    transition: transform 0.3s ease; // Smooth transition for both scaling up and down
  }

  &:hover {
    .gallon-image {
      transform: scale(1.1); // Scale up by 10%
    }

    .water-consumption-text {
      transform: translate(-40%, -80%) scale(1.1); // Scale up the text on hover
    }
  }

}

.scroll-section {
  text-align: center; // Center align text
  margin-top: 25vh; // Space above the scroll section
}

.scroll-text {
  color: darkgrey; // Text color
  font-size: 1.2rem; // Font size
  text-align: center; // Center text
}

.arrow-container {
  margin-top: -3vh; // Space between text and arrows
}

.arrow-image {
  width: 80px; // Adjust size for the arrows
  height: auto; // Maintain aspect ratio
}

.add-bottle-button {
  background-color: #007BFF; // Button color
  color: white; // Text color
  border: none; // No border
  padding: 10px 20px; // Padding
  border-radius: 5px; // Rounded corners
  cursor: pointer; // Cursor pointer
  margin: 20px 0; // Margin for spacing
  font-size: 1rem; // Font size
  transition: background-color 0.3s; // Transition for hover effect

  &:hover {
    background-color: #0056b3; // Darker color on hover
  }
}

.equivalent-section {
  position: relative; // Positioning relative to the app-container
  padding: 20px; // Padding for spacing
  background-color: lightblue; // Change this to your desired background color
  width: 100%; // Full width of the parent
  height: 100vh;
  text-align: center; // Center text within the container
  margin-top: 12vh; // Add margin to separate it from the previous content
  min-height: 300px; // Adjust minimum height as desired

  // Shelves for Water Bottles
  .shelves {
    display: flex;
    flex-direction: column; // Align shelves vertically
    align-items: flex-start; // Align shelves at the top
    margin-top: -100px; // Space above the shelves
    margin-left: -20px;
    flex-wrap: wrap; // Allow bottles to wrap to the next shelf if they exceed the width
  }

  .shelf {
    display: flex;
    justify-content: flex-start; // Align bottles to the left within the shelf
    align-items: flex-start; // Align bottles at the top of the shelf
    width: auto; // Change to auto to allow dynamic width
    height: 10px; // Allow height to adjust based on bottle size
    margin-bottom: 120px; // Space between shelves
    background-color: white;
    padding: 10px 0; // Optional: Padding to give some space above and below bottles
    transition: transform 0.3s ease;
    transform-origin: left;
    border-radius: 0 4px 4px 0;

    &:hover {
      transform: scale(1.05); // Scale the shelf on hover (adjust the scale as needed)
      z-index: 10; // Bring hovered shelf to the front
    }
  }

  .water-bottle {
    max-width: 100px; // Adjust size as needed
    height: auto; // Maintain aspect ratio
    margin: 0 -25px; // Decrease side margin to bring bottles closer
    display: inline-block;
    margin-top: -108px;
    transition: transform 0.3s ease;
    transform-origin: bottom;

    &:hover {
      transform: scale(1.1); // Scale up the bottle on hover (adjust the scale as needed)
      z-index: 10; // Bring hovered bottle to the front
    }
  }

  // Message Bubbles Container
  .message-bubbles-container {
    position: absolute; // Position relative to the nearest positioned ancestor
    right: 20px; // Distance from the right side
    top: 25vh; // Adjust this value to move bubbles closer to the top
    z-index: 1000; // Ensure it's above other elements
  }

  .bottle-shelf-wrapper {
    // Default styles for the bottle shelf
    display: flex;
    flex-direction: column;
    transition: margin-top 0.3s ease; // Smooth transition
  
    &.below-message-bubbles {
      margin-top: 20px; // Add space when below message bubbles
    }
  }
  

  .message-bubbles {
    display: flex;
    flex-direction: column; // Align messages in a column
    align-items: flex-end; // Align all messages to the right
  }

  .message-bubble {
    display: inline-block; // Inline block for better sizing
    padding: 15px 30px 15px 0px; // Increased padding for a larger message box
    border-radius: 20px; // Rounded corners
    max-width: 80%; // Limit width to 80% of the container
    margin: 10px 0; // Vertical margin only
    position: relative; // For arrow positioning
    font-size: 1.2rem; // Increased font size
    line-height: 1.4;
    background-color: #ffffff; // Background color for user messages
    color: #000; // Text color
    text-align: right;
    font-weight: 450;
    margin-top: 3vh;
    transition: transform 0.3s ease;
    transform-origin: right;

    &:hover {
      transform: scale(1.075); // Scale the shelf on hover (adjust the scale as needed)
      z-index: 10; // Bring hovered shelf to the front
  }
  }
}

// Media Queries
@media(max-width: 1300px) {
  .gallon-image {
    max-width: 60vw; // Increase size for medium-large screens
    max-height: 65vh; // Adjust max-height
  }

  .gallon-section .water-consumption-text .big-number {
    font-size: 7vw;
    }

  .gallon-section .water-consumption-text .unit {
    font-size: 2.5vw;
    transform: translate(-20%, 55%)
  } 

  .shelves {
    transform: translateY(250px); // Move shelves down
  }
}

@media (max-width: 768px) { // Tablet and below
  .gallon-image {
    max-width: 70vw; // Increase size relative to viewport width
    max-height: 80vh; // Adjust max-height for better visibility
  }

  .gallon-section {
    top: 17vh;
  }

  .gallon-section .water-consumption-text .big-number {
    font-size: 8vw;
    }

  .gallon-section .water-consumption-text .unit {
    font-size: 3vw;
    transform: translate(-20%, 45%)
  } 

  .scroll-section {
    margin-top: 30vh; // Space above the scroll section
  }

  .equivalent-section {
    margin-top: 5vh; // Add margin to separate it from the previous content
  }

  .shelves {
    transform: translateY(250px); // Move shelves down
  }
}

@media (max-width: 480px) { // Mobile phones
  .gallon-image {
    max-width: 90vw; // Further increase size for smaller screens
    max-height: 80vh; // Adjust max-height for better visibility
  }

  .gallon-section {
    top: 13vh;
  }

  .gallon-section .water-consumption-text .big-number {
    font-size: 9vw;
    }

  .gallon-section .water-consumption-text .unit {
    transform: translate(-20%, 25%);
    font-size: 5vw;
  } 

  .scroll-section {
    margin-top: 15vh; // Space above the scroll section
  }

  .equivalent-section {
    margin-top: 12%; // Add margin to separate it from the previous content
  }

  .shelves {
    transform: translateY(200px); // Move shelves down
  }
}