@import './Styles/TopBar.scss';

.mainContainer {
  max-width: 100%;
  margin-top: 10%;
  padding: 1rem;
  position: relative;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='submit'] {
  border: none;
  color: white;
  padding: 12px;
  max-width: 800px;
  width: 560px;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background: #5474eb;
  &:hover {
    background-color: #1433a3;
  }
}

// Input Container Styling
.inputContainer {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 30%;
}

.inputBoxSelect {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  max-width: 80%;
  width: 30%;
}

.signUp {
  display: flex;
  color: blue;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  &:hover {
    background-color: #bdbdbd;
  }
}

.homeTitle {
  color: #5474eb;
}

.errorLabel {
  color: red;
  font-size: 0.9rem;
  max-width: 100%;
}

.titleContainer {
  text-align: center;
  margin-bottom: 1rem;
}

.buttonSignUp {
  border: none;
  color: white;
  padding: 12px;
  max-width: 800px;
  width: 560px;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  background: #5474eb;
  &:hover {
    background-color: #1433a3;
  }
}









// Media Queries for Responsiveness
@media (max-width: 1300px) {
  .inputContainer {
    padding-left: 20.5%;
  }

  .inputBox {
    margin-left: 0;
    font-size: 0.9rem;
    max-width: 100%;
    margin-left: -25%;
    min-width: fit-content;
    width: 90%;
  }

  input[type='submit'] {
    width: 650px;
    margin-left: 0%;
    margin-bottom: 20px;
  }

  .buttonSignUp{
    width: 650px;
    margin-left: 0%;
    margin-bottom: 20px;
  }

  .inputBoxSelect {
    font-size: 0.9rem;
    margin-left: -25%;
    width: 90%;
  }

  .signUp {
    margin-left: -25%;
  }

  .titleContainer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

}

@media (max-width: 768px) {
  .inputContainer {
    padding-left: 20.5%;
  }

  .inputBox {
    margin-left: 0;
    font-size: 0.9rem;
    max-width: 100%;
    margin-left: -25%;
    width: 80%;
  }

  input[type='submit'] {
    width: 210px;
    margin-left: 0%;
    margin-bottom: 20px;
  }

  .buttonSignUp{
    width: 210px;
    margin-left: 0%;
    margin-bottom: 20px;

  }

  .inputBoxSelect {
    font-size: 0.9rem;
    margin-left: -25%;
    width: 90%;
  }

  .signUp {
    margin-left: -30%;
  }

  .titleContainer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .inputContainer {
    padding-left: 20.5%;
  }

  .inputBox {
    font-size: 0.9rem;
    width: 100%;
  }

  input[type='submit'] {
    width: 263px;
    margin-left: 0%;
    margin-bottom: 20px;
  }

  .buttonSignUp{
    width: 263px;
    margin-left: 0%;
    margin-bottom: 20px;
  }


  .inputBoxSelect {
    font-size: 0.9rem;
    width: 99%;
  }

  .signUp {
    margin-left: -25%;
  }

  .titleContainer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.1rem;
  }

}
